// Primary background gradient color
html {
  background: no-repeat fixed;
}

// Override body color to transparent
body {
    background: -webkit-linear-gradient(45deg, #000000 0%, rgba(45, 0, 224, 0) 70%), linear-gradient(135deg, #0707cf 10%, rgba(7, 7, 207, 0) 80%), linear-gradient(225deg, #2409f1 10%, rgba(51, 29, 213, 0.39) 80%), linear-gradient(315deg, #ce2009 100%, rgba(206, 32, 9, 0) 70%);
    background: linear-gradient(45deg, #000000 0%, rgba(45, 0, 224, 0) 70%), linear-gradient(135deg, #0707cf 10%, rgba(7, 7, 207, 0) 80%), linear-gradient(225deg, #2409f1 10%, rgba(51, 29, 213, 0.39) 80%), linear-gradient(315deg, #ce2009 100%, rgba(206, 32, 9, 0) 70%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

// Text centering
.center {
    text-align: center;
}

// Center responsive images
.img-responsive.img-center {
    .center-block;
}

.projectIcon {
    text-align: center;
    vertical-align: middle;
    padding-top: 20px;
    margin-bottom: 20px;
}

