<!-- begin: project header -->
<div class="row" id="projectSwitch" data-attached="projectRow">
	<div class="col-md-12">
		<div class="page-header">
			<h1>Projects<i class="fa fa-chevron-down"></i></h1>
		</div>
	</div>
</div>
<!-- end: project header -->


<div class="row" id="projectRow">
	<div class="col-md-12" data-ng-repeat="project in projectCtrl.projects">
		<div class="row">
			<div class="hidden-sm hidden-xs col-md-2">
				<div class="projectIcon">
					<i class="fa fa-5x @{{project.faIcon}}"></i>
				</div>
			</div>
			<div class="col-md-10">
				<div class="contentPanel">
					<div class="panel">
						<div class="panel-heading">
							<a href="@{{project.href}}" target="_blank">@{{project.title}}</a>
						</div>
						<div class="panel-body">
							<p>
								@{{project.desc}}
							</p>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
